name: Update Config Rules

on:
  schedule:
    - cron: '0 0 1,15 * *'
  workflow_dispatch:

jobs:
  update-rules:
    name: Update Rules
    runs-on: ubuntu-latest
    outputs:
      any_changed: ${{ steps.changed-files.outputs.any_changed }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: scripts/go/go.mod

      - name: Update rules
        id: update-rules
        run: |
          go build -C scripts/go -o generator ./cmd/generator
          ./scripts/go/generator update-config-rules
          ./scripts/go/generator update-rule-packs

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@2f7c5bfce28377bc069a65ba478de0a74aa0ca32 # v46.0.1
        with:
          files: |
            "*.tf"
            "files/*"

      - name: List all changed files
        run: echo '${{ steps.changed-files.outputs.all_changed_files }}'

      - uses: actions/cache@v4
        name: Cache plugin dir
        with:
          path: ~/.tflint.d/plugins
          key: tflint-${{ hashFiles('.tflint.hcl') }}
      
      - uses: terraform-linters/setup-tflint@v4
        name: Setup TFLint
        with:
          tflint_version: v0.61.0

      - name: Show version
        run: tflint --version
  
      - name: Init TFLint
        run: tflint --init
  
      - name: Run TFLint
        run: tflint --disable-rule=terraform_required_version

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.3
  
      - name: Terraform Format
        run: terraform fmt --recursive .

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          base: main
          branch: auto-update-aws-config-rules
          add-paths: |
            managed_rules_*.tf
            files/*
          commit-message: Automatic updates to AWS managed Config Rules
          delete-branch: true
          title: '[Auto] Update AWS Config Rules'
          body: |
            Update the list of AWS managed Config Rules using the [latest documentation](https://docs.aws.amazon.com/config/latest/developerguide/managed-rules-by-aws-config.html).
          assignees: bensonce
          reviewers: bensonce,duraikkannuv2
